<ion-view view-title="People">
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search" ng-model="searchQuery">
            </label>
        </div>
        <ion-list>
            <ion-item class="item-divider">
                Friends
            </ion-item>
            <ion-item ng-repeat="person in friends | people: searchQuery" class="item item-avatar">
                <img ng-src="{{person.avatar }}" />
                <h2 class="item-text-center item-text-wrap">{{person.name}}</h2>
            </ion-item>
        </ion-list>
        <ion-list ng-if="pending.length !== 0">
            <ion-item class="item-divider">
                Waiting
            </ion-item>
            <ion-item ng-repeat="person in pending | people: searchQuery" class="item item-avatar">
                <img ng-src="{{person.avatar }}" />
                <h2 class="item-text-center item-text-wrap">{{person.name}}</h2>
                <span class="place-offer">
                <button class="button button-light" ng-click="acceptFriendRequest( person.id )"><i class="icon ion-ios-plus-empty"></i></button>
                <button class="button button-light" ng-click="declineFriendRequestaddFriend( person.id )"><i class="icon ion-ios-minus-empty"></i></button>

            </ion-item>
        </ion-list>
        <ion-list ng-if="people.length !== 0">
            <ion-item class="item-divider">
                All
            </ion-item>
            <ion-item ng-repeat="person in people | people: searchQuery"  class="item item-avatar">
                <img ng-src="{{person.avatar }}" />
                <h2 class="item-text-center item-text-wrap">{{person.name}}</h2>
                <span class="place-offer">
                <button class="button button-light" ng-click="addFriend( person.id )"><i class="icon ion-ios-plus-empty"></i></button>
                </span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
