<ion-view view-title="About">>
    <ion-content class="padding">
        <div class="list card animated bounceInLeft">  
        <div class="item item-divider">Made by</div>
        <div class="item item-body">
            <div>
            Žiga Ajdnik <br>
            Marko Deželak
            </div>
        </div>
        </div>  
        <div class="list card animated bounceInRight">  
        <div class="item item-divider">Copyright ©  </div>
        <div class="item item-body">
            <div>
            ŠentDevs team. 
            </div>
        </div>
        </div>  
</ion-view>
        
